* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.graph {
  position: relative;
  border-bottom:1px solid #000;
  border-left:1px solid #000;
  height:1000px;
  width:95%;
  margin:2.5%;
}
.y-label {
  position:absolute;
  left:-2.5%;
  width:2.5%;
  text-align: right;
}
.col {
  bottom: 0;
  position: absolute;
}
.col h1 {
  font-size: .8rem;
  position: absolute;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  z-index: 2;
  left:0;
  bottom:0;
}
.bar {
  left:0;
  position: absolute;
  width:100%;
}
.firstByte {
  background-color: #5f0065;
}
.firstPaint {
  background-color: #8a008a;
}
.titleLoad {
  background-color: #ae00aa;
}
.docReadyStart {
  background-color: #d300cb;
}
.docReadyEnd {
  background-color: #fa00f0;
}
.docLoadStart {
  background-color: #006ecf;
}
.docLoadEnd {
  background-color: #00a2ff;
}
.loaded {
  background-color: #00d167;
}
.visuallyComplete {
  background-color: #00ff90;
}
.key h2 {
  font-size: 2rem;
  font-weight: bold;
  width:300px;
  padding:5px;
  margin:1px;
  color: #fff;
  border-radius: .2rem;
  letter-spacing: .1rem;
}